.modTooltip span {
  white-space: pre-line;
}
.modTooltip {
  text-align: left !important;
  opacity: 95% !important;
  display: flex !important;
  flex-direction: column !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}
