.modTooltip span {
  white-space: pre-line;
}
.modTooltip {
  text-align: left;
  opacity: 95% !important;
  display: flex;
  flex-direction: column;
  padding-left: 10px !important;
  padding-right: 10px !important;
}
