.buildSearchComponent {
  width: 500px;
}

.buildSearchContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.buildFilterButton {
  width: 110px;
  height: 40.15px;
  margin-right: 5px;
}
