.sideNavContainer {
  height: 100vh;
  transition: background 0.3s, min-width 0.3s;
}

.antdMenu {
  height: inherit;
}

.ant-menu-item.navCollapseToggler:hover {
  color: rgba(255, 255, 255, 0.65);
}

.ant-menu-item.navCollapseToggler:title {
  display: none;
}

.ant-menu-item.navCollapseToggler.ant-menu-item-selected {
  background-color: transparent !important;
}

.ant-menu-item.navCollapseToggler {
  border-bottom: solid;
  border-bottom-width: 2px;
  border-bottom-color: rgba(141, 141, 141, 0.349);
}

.ant-menu-item .anticon,
.ant-menu-submenu-title .anticon {
  font-size: 18px;
}

.sideNavMenuLabel {
  font-size: 16px;
}

.ant-menu-dark,
.ant-menu-dark .ant-menu-sub {
  background: #17171b;
}

.ant-menu-dark .ant-menu-item.antdMenuItem:hover {
  background-color: #4399a8;
}
