.sideNavContainer {
  height: 100vh;
  transition: background 0.3s, width 0.2s;
}

.antdMenu {
  height: inherit;
}

.ant-menu-item.navCollapseToggler:hover {
  color: rgba(255, 255, 255, 0.65);
}

.ant-menu-item.navCollapseToggler:title {
  display: none;
}

.ant-menu.antdMenu.ant-menu-dark.ant-menu-root {
  border-right: solid;
  border-right-width: 1px;
  border-right-color: rgba(146, 121, 83, 0.349);
}

.ant-menu-item.navCollapseToggler.ant-menu-item-selected {
  background-color: transparent !important;
}

.ant-menu-item.navCollapseToggler {
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(146, 121, 83, 0.349);
}

.ant-menu-item .anticon,
.ant-menu-submenu-title .anticon {
  font-size: 18px;
}

.sideNavMenuLabel {
  font-size: 16px;
}

.ant-menu-dark,
.ant-menu-dark .ant-menu-sub {
  background: #313131;
}

.ant-menu-dark .ant-menu-item.antdMenuItem:hover {
  background-color: #2e5083;
}
