.sideNavContainer {
  background: rgb(23, 23, 27);
  height: 100vh;
  position: fixed;
  width: inherit !important;
  max-width: inherit !important;
  min-width: inherit !important;
  transition: width 0.2s;
}

.antdMenu {
  height: inherit;
}

.ant-menu-item.navCollapseToggler:hover {
  color: rgba(255, 255, 255, 0.65);
}

.ant-menu-item.navCollapseToggler:title {
  display: none;
}

.ant-menu-item.navCollapseToggler.ant-menu-item-selected {
  background-color: transparent !important;
}

.ant-menu-item.navCollapseToggler {
  border-bottom: solid;
  border-bottom-width: 2px;
  border-bottom-color: rgba(141, 141, 141, 0.349);
  color: rgba(255, 255, 255, 0.85);
}

.ant-menu-item .anticon,
.ant-menu-submenu-title .anticon {
  font-size: 18px;
}

.sideNavMenuLabel {
  font-size: 16px;
}

.ant-menu-dark,
.ant-menu-dark .ant-menu-sub {
  background: #17171b;
}

.ant-menu-dark .ant-menu-item.antdMenuItem:hover {
  background-color: #4399a8;
}

.wolcenNavLogo {
  width: 100%;
  max-width: 200px;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

.menuHome .anticon {
  color: #b6f3f7;
}

.menuCreate .anticon {
  color: #e89868;
}

.menuBuilds .anticon {
  color: #b8d59b;
}

.menuCharacters .anticon {
  color: #fd9a9a;
}

.menuAuth .anticon {
  color: #bbb2f5;
}
