@import url("https://fonts.googleapis.com/css?family=Oswald:300,400|Merienda+One|Open+Sans|Yrsa&display=swap");

.contentContainer {
  display: flex;
  background: #1a1a1e;
  font-family: Oswald;
}
.pageContentContainer {
  transition: min-width 0.3s;
  -webkit-transition: min-width 0.3s;
  min-width: 1270px;
  min-height: 100vh;
}

.noSelectText {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
