.skillsRow {
  margin-top: 40px;
}
.skillTitle {
  border-bottom: solid 2px;
  border-color: rgba(107, 107, 107, 0.288);
  color: rgb(192, 192, 192);
  font-size: 18px;
}

.skillsSelectorRow {
  margin-top: 10px;
}

.addSpellIcon {
  font-size: 65px;
  color: rgba(240, 248, 255, 0.171);
}
