.skillsRow {
  margin-top: 40px;
}
.skillTitle {
  border-bottom: solid 2px;
  border-color: rgba(107, 107, 107, 0.288);
  color: rgb(192, 192, 192);
  font-size: 18px;
}

.skillsSelectorRow {
  margin-top: 10px;
}

.addSpellIcon {
  font-size: 65px;
  color: rgba(240, 248, 255, 0.171);
}
.ant-modal-content {
  background-color: #3d3d42;
  color: white;
  font-size: 25px;
  font-family: Oswald;
  font-weight: 400;
}
.ant-modal-header {
  background-color: #3d3d42;
  border-color: #67676e;
  border-width: 2px;
}
.ant-modal-title {
  color: rgb(184, 165, 103);
  font-size: 24px;
  font-family: Oswald;
}
.ant-modal-close-x {
  color: white;
  font-size: 22px;
  font-family: Oswald;
}
.ant-modal-footer {
  border-color: #67676e;
  border-width: 2px;
}
.ant-btn {
  background: none;
  border: none;
  color: white;
}
.ant-btn.ant-btn-primary {
  background-color: #4399a8;
  border-color: #4399a8;
}
.ant-btn.ant-btn-primary:hover {
  background-color: #6ed2e4;
  border-color: #6ed2e4;
}
.ant-modal {
  width: 350px !important;
}
.ant-modal-body {
  max-height: 450px;
  padding-right: 5px !important;
}
.modalSkillsRow {
  max-height: 400px;
  overflow-y: scroll;
}
.modalSkillsCol {
  margin-bottom: 5px;
}
.spellIconAvatar {
  margin-right: 5px;
}
