.homePageLayout {
  background-color: #1a1a1e;
  background-repeat: space;
  height: 100%;
}

.searchBuilds {
  margin-top: 5%;
  max-height: 200px;
  margin-bottom: 30px;
}

.topBuildsList {
  margin-bottom: 30px;
}

.wolcenTextContainer {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.wolcenTextLabel {
  font-size: 50px;
  color: rgb(226, 177, 142);
  border-bottom: 10px;
  border-bottom-style: groove;
}
