.homePageContainer {
  color: white;
  background-color: #201f1f;
}

.homePageLayout {
  background-color: #201f1f;
  background-repeat: space;
  height: 100%;
}

.searchBuilds {
  margin-top: 5%;
  max-height: 200px;
}
