.homePageLayout {
  background-color: #1a1a1e;
  background-repeat: space;
  height: 100%;
}

.searchBuilds {
  margin-top: 5%;
  max-height: 200px;
  margin-bottom: 30px;
}

.topBuildsList {
  margin-bottom: 30px;
}
