.d3svg {
  background: grey;
  margin-top: 40px;
  margin-bottom: 20px;
  width: 800px;
  height: 740px;
}

.activeLink {
  stroke-width: 2.2px;
  stroke: white !important;
}

.accessibleLink {
  stroke-width: 1.5px;
  stroke: rgb(165, 162, 82) !important;
}

.ant-popover {
  pointer-events: none;
}

.gofContainer {
  height: 1044px;
  width: 1044px;
  position: relative;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.gofSvg {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.gofFireflies {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  bottom: 0;
  pointer-events: none;
}
