.d3svg {
  background: grey;
  margin-top: 40px;
  margin-bottom: 20px;
  width: 800px;
  height: 740px;
}

.activeLink {
  stroke-width: 2px;
  stroke: white !important;
}

.ant-popover {
  pointer-events: none;
}
