.d3svg {
  background: grey;
  margin-top: 40px;
  margin-bottom: 20px;
  width: 800px;
  height: 740px;
}

.activeLink {
  stroke-width: 2.2px;
  stroke: white !important;
}

.accessibleLink {
  stroke-width: 1.5px;
  stroke: rgb(165, 162, 82) !important;
}

.ant-popover {
  pointer-events: none;
}

.gofContainer {
  height: 1044px;
  width: 1044px;
  position: relative;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.gofSvg {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.gofFireflies {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  bottom: 0;
  pointer-events: none;
}

#nodeTooltip {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-top: 5px;
  background: rgba(0, 0, 0, 0.801) !important;
  color: white;
  border-radius: 5px;
  width: 300px;
  min-width: 300px;
  margin-left: 10px;
}

.tooltipSkillDescriptionCol {
  white-space: pre-wrap;
  text-align: left;
  padding-bottom: 7px;
  margin-top: 8px;
  border-bottom: solid 2px;
  border-color: rgba(107, 107, 107, 0.288);
}

.skillModValue {
  color: rgb(240, 180, 69);
}

.tooltipSkillModsList {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.tooltipSkillMod {
  display: list-item;
}

.gofAndControls {
  display: flex;
  flex-direction: row;
}

.gofButtons {
  display: flex;
  flex-direction: column;
  margin-top: 458px;
  margin-right: 20px;
}
