.commentElementContainer {
  text-align: left;
  margin-bottom: 25px;
  color: white;
  display: flex;
  flex-direction: row;
}
.commentAvatar {
  min-width: 10%;
}
.commentContent {
  min-width: 90%;
}
