.commentElementContainer {
  text-align: left;
  margin-bottom: 25px;
  color: white;
  display: flex;
  flex-direction: row;
  width: 75%;
  margin: auto;
}
.commentAvatarContainer {
  min-width: 7%;
}
.commentContentContainer {
  min-width: 93%;
}

.commentAvatar {
  width: 50px;
  height: 50px;
}

.commentCard {
  background: #2e3031;
  border-color: #464134;
  color: rgb(218, 218, 218);
}

.commentCard .ant-card-body {
  padding: 10px 15px 10px 15px;
}

.commentCardTop {
  font-size: 15px;
}
.commentCardTop .user {
  color: #ffab40;
  cursor: pointer;
}
.commentCardTop .date {
  float: right;
  font-size: 14px;
}

.commentCardMiddle {
  margin-top: 15px;
  margin-bottom: 25px;
  font-weight: 300;
  font-size: 16px;
}

.commentCardBottom {
  font-size: 12px;
  color: #a69366;
}
.commentCardBottom .controlsLeft {
  float: left;
}
.commentCardBottom .controlsRight {
  float: right;
}
