.commentElementContainer {
  text-align: left;
  margin-bottom: 25px;
  color: white;
  display: flex;
  flex-direction: row;
  width: 75%;
  margin: auto;
  margin-bottom: 20px;
}
.commentAvatarContainer {
  min-width: 7%;
}
.commentContentContainer {
  min-width: 93%;
}

.commentAvatar {
  width: 50px;
  height: 50px;
}

.commentCard {
  background: #2e3031;
  border-color: #464134;
  color: rgb(218, 218, 218);
  border-radius: 5px;
}

.commentCard .ant-card-body {
  padding: 10px 15px 10px 15px;
}

.commentCardTop {
  font-size: 15px;
}
.commentCardTop .user {
  color: #e3a95e;
  cursor: pointer;
}
.commentCardTop .date {
  float: right;
  font-size: 13px;
  color: rgba(210, 210, 210, 0.7);
}

.commentCardMiddle {
  margin-top: 8px;
  margin-bottom: 12px;
  font-weight: 300;
  font-size: 16px;
}

.commentCardBottom {
  font-size: 12px;
  color: #a69366;
}
.commentCardBottom .controlsLeft {
  float: left;
  display: flex;
  flex-direction: row;
}
.commentCardBottom .controlsRight {
  float: right;
  display: flex;
}

.commentUpvoteButton {
  color: #55cf6dd0;
  padding: 5px 5px 5px 0px;
  cursor: pointer;
}

.commentDownvoteButton {
  color: #ce4c4cd5;
  padding: 5px 5px 5px 0px;
  cursor: pointer;
}

.commentUpvoteContainer {
  margin-right: 15px;
  color: #cecece;
}

.commentDownvoteContainer {
  margin-right: 10px;
  color: #cecece;
}

.commentControls {
  cursor: pointer;
  margin-left: 10px;
}

.commentAvatar .ant-avatar {
  font-size: 30px;
  background: #6a7e7e;
  border: 1px solid;
  border-color: #5e3d0165;
}
.commentBody {
  text-align: left;
}

.commentBody * {
  color: rgb(218, 218, 218);
}

.commentBody.ql-editor {
  background: transparent;
  max-height: 0;
  display: initial;
  padding: 0;
}

.commentBody a {
  color: #40a9ff;
}

.commentBody a:hover {
  color: #80c6ff;
}

.deletePromptContainer {
  margin-left: 10px;
  white-space: pre;
}
.commentControls.deletePrompt.no {
  margin-left: 3px;
}
.commentControls.deletePrompt.yes {
  margin-right: 3px;
  margin-left: 0px;
}
