.searchBuildContainer {
  text-align: center;
  color: white;
  font-size: 25px;
  display: inline-grid;
  flex-direction: column;
}

.ant-btn.ant-input-search-button.ant-btn-primary.ant-btn-lg {
  background-color: #21928f;
  border-color: #21928f;
}

.ant-btn.ant-input-search-button.ant-btn-primary.ant-btn-lg:hover {
  background-color: #79dad0;
  border-color: #79dad0;
}

.searchBuildLabel {
  margin-bottom: 20px;
}
