.searchBuildContainer {
  text-align: center;
  color: white;
  font-size: 25px;
  display: inline-grid;
  flex-direction: column;
}

.ant-btn.ant-input-search-button.ant-btn-primary.ant-btn-lg {
  float: right;
  background-color: #d38045;
  border-color: #df9056;
}

.ant-btn.ant-input-search-button.ant-btn-primary.ant-btn-lg:hover {
  background-color: #dda781;
  border-color: #dda781;
}

.searchBuildLabel {
  margin-bottom: 20px;
}
