.topBuildsContainer {
  margin-top: 50px;
  margin-bottom: 50px;
}

.homeSectionLabel.topBuilds {
  color: rgb(160, 229, 224);
  margin-bottom: 40px;
}

.topBuildsButtonContainer {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  width: 350px;
}
